.my-card {
  background-color: #CFD8DCff;
  max-width: 400px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trip-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  max-height: 400px; /* Establece una altura máxima para evitar que las imágenes sean demasiado grandes */
  margin: 10px; /* Agrega espacio entre las imágenes */
  border-radius: 10px;
}

.trip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  overflow-x: auto; /* Habilitar el desplazamiento horizontal */
  white-space: nowrap; /* Evitar el salto de línea en los elementos */
  max-width: 100%; /* Asegurar que el contenido se ajuste al ancho de la pantalla */
}

.image-container {
  display: flex;
  overflow-x: auto; /* Habilitar el desplazamiento horizontal para las imágenes */
  max-width: 100%; /* Asegurar que las imágenes se ajusten al ancho de la pantalla */
}

